


// NavBar Styles Start
.NavbarbButtonContainer {
    display: flex;
    margin: 0 auto;
    background-color: rgba(0, 73, 144);
    width: 70% ;
    height: 3rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
      rgba(0, 73, 144, 0.5) 5px 10px 15px;
  }
  
  .Navbarbutton {
    outline: 0 !important;
    border: 0 !important;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: large;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .Navbarbutton:hover {
    transform: translateY(-3px);
  }

  // NavBar Styles End

  // Hero Section Style Start
.HeroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;  
    flex-wrap: wrap;  
    padding: 5%;
    gap: 2%;
}
.HeroTextSection{
    flex: 2;
    text-align: center;
}
.HeroImageSection{
    flex: 1;
    
}
.HeroImageSection img{
  transition: transform 0.4s ease;
}

.HeroImageSection:hover img{
  transform: scale(1.05);
  cursor: grab;
}


.HeroButtonContainer{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 2%;
}

.btnSmall {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: rgba(0, 73, 144);
    color: #ffffff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .btnSmall:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .btnSmall:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    
    transform: scale(0.98);
  }
  // Hero Section  Style End


  // Featured Work Style Start
  .FeaturedWorkBigContainer{
    margin-top: 1%;
    padding: 1% 3% 3% 1%;
    text-align: center;
  }
.FeaturedWorkBigContainer h1{
  font-size: xx-large;
}

.FeaturedWorkContainer{
  display: flex;
  flex-direction: column;
}

.FeaturedWork{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 3%;
  gap: 2%;
}

.FeaturedWorkText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.FeaturedWorkImage{
  flex: 1;
}

.FeaturedWorkImage img{
  width: fit-content !important;
  height: 100%;
}

//Featured Work Style End



// Work Experience Style Start

.WorkExperienceBigContainer{
  margin-top: 2%;
  padding: 1% 3% 3% 1%;
  text-align: center;
}

.WorkExperienceBigContainer h1{
  font-size: xx-large;
}

.WorkExperienceContainer{
  display: flex;
  flex-direction: column;
  
}

.WorkExperience{
  display: flex;
  flex-direction: row-reverse;
  margin: 3%;
  gap: 2%;
}

.WorkExperienceText{
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.WorkExperienceImage{
  flex: 1;
}

.WorkExperienceText ul{
  list-style: disc;
  
}

.WorkExperienceImage img{
  width: 100%;
  height: 100%;
}
  //Work Experience Style End


 //Technical Skills Style Start

 .TechnicalSkillsBigContainer{
  margin-top: 2%;
  padding: 1% 3% 3% 1%;
  text-align: center;
 }

 .TechnicalSkillsBigContainer h1{
  font-size: xx-large;
  margin-bottom: 2%;
}

.TechnicalSkillsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 3rem;
}

.TechnicalSkill{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 1px solid rgba(0, 73, 144);
  
}

.SkillTitle{
  padding: .7rem;
  border: 1px solid rgba(0, 73, 144);
}

.Skills{
  padding: 2rem;
}

.Skills ul{
  list-style-type: square;
}

  //Technical Skills Style End

  //Contact Section Style Start

  .ContactSectionBigContainer{
    margin-top: 2%;
  padding: 5%;
  text-align: center;
  }

  .ContactSectionBigContainer h1{
    font-size: xx-large;
    margin-bottom: 2%;
  }

  .ContactLinksContainer{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
  .ContactLink{
    flex: 1;
    padding: 3rem;
  }
  

  //Contact Section Style End

  /* 📱 Mobile */
@media (max-width: 768px) {
  
    .Navbarbutton {
      font-size: smaller;
    }
    .WorkExperienceImage{
      display: none;
    }

    .FeaturedWorkImage{
      display: none;
    }
    .ContactLink{
      padding: .2rem;
    }
    

  }